.footer {
  background-color: #0f1111;
  color: #ffffff;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #2c2c2c;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-contact div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.footer-icon {
  color: #00adb5;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.footer-column {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column ul li:hover {
  color: #00adb5;
}

.footer-images {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
}

.footer-images img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px 10px;
}

.newsletter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.newsletter input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.newsletter button {
  background-color: #00adb5;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter button:hover {
  background-color: #0096a1;
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.social-icons svg {
  background-color: #1e1e1e;
  padding: 8px;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
}

.social-icons svg:hover {
  background-color: #00adb5;
}

.footer-bottom {
  border-top: 1px solid #2c2c2c;
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  color: #aaa;
  font-size: 14px;
}


.social-icons a {
  margin-right: 10px;
  color: #0096a1;
  font-size: 18px;
  transition: color 0.3s;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #aaaaaa96;
}

.social-icons a:hover {
  color: white; 
}

